#chat {
  max-width: 100%;
  height: 100vh;
  background-color: orange;
  position: relative;
  .message-wrapper {
    background-color: rgb(38, 63, 75);
    padding: 2rem;
    height: 100%;
    font-size: 1.2rem;
    p {
      color: white;
    }
  }
  .form-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    form {
      display: flex;
      input {
        flex: 1;
        padding: 1rem 0rem;
        font-size: 1.2rem;
        text-indent: 20px;
        outline: none;
        border: none;
        &::active {
          border: none;
        }
      }
      button {
        padding: 0.5rem 3rem;
        cursor: pointer;
        background-color: rgb(23, 170, 75);
        outline: none;
        border: none;
      }
    }
  }
}
